body{
	background-color:#000;
	margin:0px;
	overflow-y: hidden;
	overflow-x: hidden;
}

#canvasCover{
	display: flex;
	
	margin: 50px;

  /*box-shadow: 5px 10px #888888;*/

	
	background-color: #5654;
	align-items: center;
	justify-content: space-around;
}

#canvas{
	
}
